<%= tinymce_assets %>
<%= tinymce %>

<h2>placeholders</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">placeholder</th>
      <th scope="col">example</th>
    </tr>
  </thead>
  <tbody>
    <% Submission.placeholders.each do |placeholder| %>
    <tr>
      <td>*|<%= placeholder.first.to_s %>|*</td>
      <td><%= placeholder.second.to_s %></td>
    </tr>
    <% end %>
    <% User.placeholders.each do |placeholder| %>
    <tr>
      <td>*|<%= placeholder.first.to_s %>|*</td>
      <td><%= placeholder.second.to_s %></td>
    </tr>
    <% end %>

    <% ExternalReferee.placeholders.each do |placeholder| %>
    <tr>
      <td>*|<%= placeholder.first.to_s %>|*</td>
      <td><%= placeholder.second.to_s %></td>
    </tr>
    <% end %>

    <% QuestionAnswer.placeholders.each do |placeholder| %>
    <tr>
      <td>*|<%= placeholder.first.to_s %>|*</td>
      <td><%= placeholder.second.to_s %></td>
    </tr>
    <% end %>

  </tbody>
</table>

<%= simple_form_for(@email_template) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
