<table class="table table-bordered">
  <% dois.each do |doi| %>
    <tr>
      <td>@article{</td>
      <td>
        <%= doi.first["message"]["author"][0]["family"].downcase %>_<%= doi.first["message"]["author"][0]["given"].chars.first.downcase %>:<%= doi.first["message"]["indexed"]["date-parts"][0][0] %>
      </td>
      <td>,</td>
      <td>author = {</td>
      <td>
        <% doi.first["message"]["author"].each do |author| %>
          <%= author["family"] %>, <%= author["given"] %>
        <% end %>
      </td>
      <td>
        2. Autor
      </td>
      <td>
        3. Autor und alle weitere in der gleichen Spalte
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        },
      </td>
      <td>
        year = {
      </td>
      <td>
        ACHTUNG: VERSCHIEDENE DATEN IN CROSSREF - PUBLISHED_PRINT NEHMEN
        <%= doi.first["message"]["indexed"]["date-parts"][0][0] %>
      </td>
      <td>
        },
      </td>
      <td>
        title = {
      </td>
      <td>
        <%= doi.first["message"]["title"][0] %>
      </td>
      <td>
        },
      </td>
      <td>
        journal = {
      </td>
      <td>
        ACHTUNG JOURNAL NICHT PUBLISHER
        <%= doi.first["message"]["publisher"] %>
      </td>
      <td>
        },
      </td>
      <td>
        volume = {
      </td>
      <td>
        <%= doi.first["message"]["volume"] %>
      </td>
      <td>
        },
      </td>
      <td>
        ACHTUNG: ISSUE nicht NUMBER
        number = {
      </td>
      <td>
        <%#= doi.first["message"] %>
      </td>
      <td>
        },
      </td>
      <td>
        pages = {
      </td>
      <td>
        ACHTUNG: manche Artikel haben keine Pages
        <%= doi.first["message"]["page"] %>
      </td>
      <td>
        },
      </td>
    </tr>
  <% end %>

</table>
