<div class="container">
  <h1>Enter DOI</h1>
  <p>
    Example: 10.1007/s11098-020-01510-2
  </p>
  <p>
    <%= simple_form_for :doi, url: get_data_from_crossref_with_doi_path, method: :get, remote: true do |f| %>
      <%= f.input :doi, placeholder: "10.1007/s11098-021-01751-9" %>
      <br />
      <%= f.submit "submit doi", class: "btn btn-light border my-2" %>
    <% end %>
  </p>

  <h1>Enter CSV with dois</h1>

  <p>
    <%= simple_form_for :dois, url: get_multiple_data_from_crossref_with_dois_path, method: :post, remote: true do |f| %>
    <%= f.file_field :csv_file %>
    <br />
      <%= f.submit "submit csv", class: "btn btn-light border my-2" %>
    <% end %>
  </p>

  <hr />
  <table class="table table-striped doi-result">

  </table>

</div>

<script>
  $( document ).ready(function() {

    var test_dois = ["10.1007/s11098-020-01510-2", "10.1007/s11098-021-01751-9"];
    var dois = test_dois;

      var iteration_value = 0;
      var progress_bar_value = 0;
      var progress_bar_steps = Math.round(100 / dois.length);
      var completed_dois_value = 0;

      get_data_from_crossref(iteration_value);

      function get_data_from_crossref(step){
        console.log(step);

        $.ajax({
          url: "https://api.crossref.org/works/" + dois[step],
          method: 'GET'
        }).done(function(data) {
          console.log(data);
          $(".doi-result").append(encapsulate_td(data.message.DOI));
          iteration_value = iteration_value + 1;
          get_data_from_crossref(iteration_value);
        })
      }

      function encapsulate_td(content){
        return "<tr><td>" + content + "</td></tr>"
      }

      function create_or_update_submission(step) {

        submission = submissions[step];
        console.log("Doing: " + submission);

        $.ajax({
          url: "<%= create_or_update_submission_path %>/",
          method: 'POST',
          data: {submission: submission},
          headers: {
            'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
          }
        }).done(function() {
          progress_bar_value = progress_bar_value + progress_bar_steps;
          completed_submissions_value = completed_submissions_value + 1;
          $("#progress-bar-loading-screen").width(progress_bar_value + "%");
          $("#completed_submissions_count").text(completed_submissions_value);

          if(completed_submissions_value === submissions.length){
               window.location.href = "<%= submission_pool_path %>";
          } else {
            create_or_update_submission(step + 1)
          }

        });
      }

  });
</script>
