<% cp = CiteProc::Processor.new style: 'apa', format: 'html' %>
<% cp.import BibTeX.open('./public/bibtex/dialectica-sandro.bib').to_citeproc %>
<% array_of_ids = [] %>
<% @b['@article'].each do |article| %>
  <% array_of_ids.push(article.id) %>
<% end %>


<div class="container">



  <h1>Bibtex</h1>
  <% array_of_ids.last(10).each do |id| %>
  <% citation = raw (cp.render :bibliography, id: id).first %>
  <li>
    <%= citation %>
    <br />
    <strong>Found DOI-Links</strong><br />
    <% Serrano.works(query: citation)["message"]["items"].each do |item|%>
      <%=  link_to item["URL"], item["URL"]  %><br />
    <% end %>

    <br />
    <br />
  </li>

  <% end %>
  <ol>

  </ol>

  <p>
    <%= CiteProc.process @b['yu_ad:2017a'].to_citeproc, :style => :mla %>
    <br />
    <%= CiteProc.class %>
    <b><%= @b['yu_ad:2017a'].title %></b>

    <%= CiteProc.process @b['yu_ad:2017a'], :style => 'chicago-author-date' %>

  </p>
  <p>

    <%= raw (cp.render :bibliography, id: 'yu_ad:2017a').first.squish %>
  </p>
</div>
