<div class="container">
  <h1>Dashboard</h1>
  <hr />
  <h2>EC-members</h2>
  <table class="table table-light table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">notify me if i am suggested</th>
      <th scope="col">notify me if something happens to my fish</th>
      <th scope="col">articles fished total</th>
      <th scope="col">articles fished alive</th>
      <th scope="col">articles for which they are blacklisted</th>
      <th scope="col">activities</th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.notify_me_when_i_am_suggested_as_an_internal_referee %></td>
        <td><%= user.notify_me_when_something_happens_to_my_fish %></td>
        <td><%= user.submissions.count %></td>
        <td><%= user.submissions.alive.count %></td>
        <td><%= BlockedUser.where(user_id: user.id).count %></td>
        <td><%= user.histories.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    <hr />
    <h2>external referees</h2>
    <table class="table table-light table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">name</th>
          <th scope="col">email</th>
          <th scope="col">numbers of articles referenced</th>
        </tr>
      </thead>
      <tbody>
        <% ExternalReferee.all.each do |referee| %>
          <tr>
            <td><%= referee.firstname %> <%= referee.lastname %></td>
            <td><%= referee.email %></td>
            <td><%= referee.submissions.count %>: <%= referee.submissions.map(&:id).join(', ') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
