<%= render "layouts/dialectica_navigation" %>
<div class="container">
<h2>edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, label: "email", required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :username, label: "username (used to log in)" %>

    <%= f.input :firstname, label: "first name" %>
    <%= f.input :lastname, label: "last name" %>

    <%= f.input :notify_me_when_i_am_suggested_as_an_internal_referee, collection: User.notify_me_when_i_am_suggested_as_an_internal_referee_options.map {|p| [t("#{p}"), p]} %>
    <%= f.input :notify_me_when_something_happens_to_my_fish, collection: User.notify_me_when_something_happens_to_my_fish_options.map {|p| [t("#{p}"), p]} %>

    <%= f.input :password,
                label: "password",
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: "password confirmation",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                label: "current password",
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "update", class: "btn btn-light border" %>
  </div>
<% end %>

<p><%#= link_to "cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%#= link_to "Back", :back %>
</div>
<%= render "layouts/footer" %>
