<% cp = CiteProc::Processor.new style: 'apa', format: 'html' %>

<div class="container-fluid">
  <p>
    <div id="json-in" data-type="json" class="in javascript" spellcheck="false" contenteditable="true">
      {"indexed":{"date-parts":[[2020,4,10]],"date-time":"2020-04-10T06:33:51Z","timestamp":1586500431004},"reference-count":0,"publisher":"American Library Association","issue":"03","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014,11,1]]},"DOI":"10.5860\/choice.169508","type":"article-journal","created":{"date-parts":[[2014,10,23]],"date-time":"2014-10-23T21:50:47Z","timestamp":1414101047000},"page":"52-1183-52-1183","source":"Crossref","is-referenced-by-count":0,"title":"Constitute","prefix":"10.5860","volume":"52","member":"3932","published-online":{"date-parts":[[2014,10,23]]},"container-title":"Choice Reviews Online","original-title":[],"language":"en","deposited":{"date-parts":[[2016,8,11]],"date-time":"2016-08-11T12:07:46Z","timestamp":1470917266000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2014,10,23]]},"references-count":0,"journal-issue":{"published-online":{"date-parts":[[2014,10,23]]},"published-print":{"date-parts":[[2014,11,1]]},"issue":"03"},"URL":"http:\/\/dx.doi.org\/10.5860\/choice.169508","relation":{},"ISSN":["0009-4978","1523-8253"],"container-title-short":"Choice Reviews Online"}
  </div>
  <div id="json-out" data-type="json" class="out"></div>
  </p>
  <p>

  </p>
  <%#= @format_type %>
  <h1>Select Bibtex-Entries</h1>
  <hr />
  <p>
    Click on the entries you want. All selected bibtex-entries are in the textarea below. You can also edit them on the fly.
    </p>
  <p>
    If something doesn't work or if you need something special, please contact me: <%= mail_to "sandro.raess@philosophie.ch", "sandro.raess@philosophie.ch" %>
  </p>
  <% if @format_type == "json" %>
    <hr />
    <p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Original</th>
            <th scope="col">Crossref</th>
          </tr>
        </thead>
        <tbody>
          <% @array_of_originals.each do |bibtex_entry| %>
            <tr>
              <td>
                <%= render 'jsons/single_json', json: bibtex_entry %>
                <button type="button" class="btn btn-success text-left bibtex_entry selected-entry bibtex_entry_id_<%= bibtex_entry.id %>" bibtex_entry_id="<%= bibtex_entry.id %>" >
                  <%= bibtex_entry.content %>
                  <div class="child_of_button" style="display: none;" id="bibtex_entry_id_<%= bibtex_entry.id %>_content">
                    <%= bibtex_entry.content %>
                  </div>
                </button>
                </td>
              <td>
                <% bibtex_entry.children.each do |child| %>
                  <% unless child.blank? || child.id.blank? %>
                  <%= render 'jsons/single_json', json: child %>
                    <button type="button" class="btn btn-light text-left bibtex_entry bibtex_entry_id_<%= bibtex_entry.id %>" bibtex_entry_id="<%= bibtex_entry.id %>">
                      <%= child.content %>
                      <%#= raw child.content %>
                      <%# bibtex_parse = BibTeX.parse(child.content) %>
                      <%# bibtex_entry_cp = cp.import bibtex_parse.to_citeproc %>
                      <%#= bibtex_entry_cp.encoding %>
                      <%#= raw (bibtex_entry_cp.render :bibliography, id: bibtex_parse.first.id).first unless bibtex_parse.blank? %>
                      <div class="child_of_button" style="display: none;" id="bibtex_entry_id_<%= bibtex_entry.id %>_content">
                        <%= child.content %>
                      </div>
                    </button>
                    <hr />
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </p>
  <% elsif @format_type == "bibtex" %>
  <hr />
  <p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Original</th>
          <th scope="col">Crossref</th>
        </tr>
      </thead>
      <tbody>
        <% @array_of_originals.each do |bibtex_entry| %>
          <tr>
            <td>
              <button type="button" class="btn btn-success text-left bibtex_entry selected-entry bibtex_entry_id_<%= bibtex_entry.id %>" bibtex_entry_id="<%= bibtex_entry.id %>" >
                <%#= bibtex_entry.content %>
                <% bibtex_parse = BibTeX.parse(bibtex_entry.content) %>
                <% bibtex_entry_cp = cp.import bibtex_parse.to_citeproc %>
                <%= (bibtex_entry_cp.render :bibliography, id: bibtex_parse.first.id).first %>
                <div class="child_of_button" style="display: none;" id="bibtex_entry_id_<%= bibtex_entry.id %>_content">
                  <%= bibtex_entry.content %>
                </div>
              </button>
              </td>
            <td>
              <% bibtex_entry.children.each do |child| %>
                <% unless child.blank? || child.id.blank? %>
                  <button type="button" class="btn btn-light text-left bibtex_entry bibtex_entry_id_<%= bibtex_entry.id %>" bibtex_entry_id="<%= bibtex_entry.id %>">
                    <%#= raw child.content %>
                    <%# bibtex_parse = BibTeX.parse(child.content) %>
                    <%# bibtex_entry_cp = cp.import bibtex_parse.to_citeproc %>
                    <%#= bibtex_entry_cp.encoding %>
                    <%#= raw (bibtex_entry_cp.render :bibliography, id: bibtex_parse.first.id).first unless bibtex_parse.blank? %>
                    <div class="child_of_button" style="display: none;" id="bibtex_entry_id_<%= bibtex_entry.id %>_content">
                      <%= child.content %>
                    </div>
                  </button>
                  <hr />
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
  <% end %>

  <p>
      <textarea name="chosen_entries" id="chosen_entries" rows="30" style="width:100%;"></textarea>
  </p>

</div>

<script>

  $( document ).ready(function() {

    var Cite = require('citation-js')

    // Set variables
    var cite = new Cite()
    var opt = {
      format: 'string'
    }

    // Make shorter ref to function
    var parseAsync = Cite.parse.input.async.chain

    // Make a factory for callback
    var callbackFactory = function (out) {
      return function (data) {
        out.html(cite.set(data).get(opt))
      }
    }

     var $json_in = $('#json-in')
     var jsonCb = callbackFactory($('#json-out'))

     function update() {
       // Get user options
       opt.type = "html"
       opt.style = "citation-apa"
       opt.lang = "en-us"

       // Set data (explicit parsing only recommended for async) and set html element to get output
       parseAsync($json_in.text()).then(jsonCb)
       //parseAsync($bibx_in.text()).then(bibxCb)
       //parseAsync($wiki_in.text()).then(wikiCb)
       //parseAsync($bibj_in.text()).then(bibjCb)
     }

     update();


    fill_chosen_entries();

    $('#chosen_entries').val(all_bibtex);


    $( ".bibtex_entry" ).click(function() {
      bibtex_entry_id = $(this).attr("bibtex_entry_id");
      class_for_bibtex_entry_id = ".bibtex_entry_id_" + bibtex_entry_id


      //console.log($(this).text());
      //console.log($(this).attr("bibtex_entry_id"));

      //$(this).removeClass( 'btn-light').addClass('btn-success').addClass( 'selected-entry');

      if ($(this).hasClass('selected-entry')) {
        $( class_for_bibtex_entry_id ).removeClass( 'btn-light').removeClass( 'btn-success').removeClass( 'selected-entry').addClass( 'btn-light');
      	$(this).removeClass( 'selected-entry').removeClass('btn-success').addClass( 'btn-light');
      } else {
        $( class_for_bibtex_entry_id ).removeClass( 'btn-light').removeClass( 'btn-success').removeClass( 'selected-entry').addClass( 'btn-light');
        $(this).removeClass( 'btn-light').addClass('btn-success').addClass( 'selected-entry');
      }

      fill_chosen_entries();

    });

    function fill_chosen_entries() {
      all_bibtex = ""
      $( ".selected-entry" ).each(function( index ) {
        all_bibtex = all_bibtex + "\n \n" + $.trim($( this ).children(".child_of_button").text());
      });

      $('#chosen_entries').val(all_bibtex);
    }




  });
</script>
