<% cp = CiteProc::Processor.new style: 'apa', format: 'html' %>

<div class="container-fluid">
  <p>
    <div id="json-in" data-type="json" class="in javascript" spellcheck="false" contenteditable="true">[
  {
    <span class="key">id</span>: <span class="string">"Q<span class="digit">23571040</span>"</span>,
    <span class="key">type</span>: <span class="string">"article-journal"</span>,
    <span class="key">title</span>: <span class="string">"Correlation <span class="native">of</span> the Base Strengths <span class="native">of</span> Amines <span class="digit">1</span>"</span>,
    <span class="key">DOI</span>: <span class="string">"<span class="object"><span class="digit">10</span></span><span class="digit">.1021</span>/ja<span class="digit">01577</span>a<span class="digit">030</span>"</span>,
    <span class="key">author</span>: [
      {
	<span class="key">given</span>: <span class="string">"<span class="object">H</span>. <span class="object">K</span>."</span>,
	<span class="key">family</span>: <span class="string">"Hall"</span>
      }
    ],
    <span class="key">issued</span>: [
      {
	date-<span class="key">parts</span>: [ <span class="string">"<span class="digit">1957</span>"</span>, <span class="string">"<span class="digit">1</span>"</span>, <span class="string">"<span class="digit">1</span>"</span> ]
      }
    ],
    container-<span class="key">title</span>: <span class="string">"Journal <span class="native">of</span> the American Chemical Society"</span>,
    <span class="key">volume</span>: <span class="string">"<span class="digit">79</span>"</span>,
    <span class="key">issue</span>: <span class="string">"<span class="digit">20</span>"</span>,
    <span class="key">page</span>: <span class="string">"<span class="digit">5441</span><span class="digit">-5444</span>"</span>
  }
]
  </div>
  <div id="json-out" data-type="json" class="out"></div>
  </p>
  <p>

  </p>
  <%#= @format_type %>
  <h1>Select Bibtex-Entries</h1>
  <hr />
  <p>
    Click on the entries you want. All selected bibtex-entries are in the textarea below. You can also edit them on the fly.
    </p>
  <p>
    If something doesn't work or if you need something special, please contact me: <%= mail_to "sandro.raess@philosophie.ch", "sandro.raess@philosophie.ch" %>
  </p>
  <% if @format_type == "json" %>
    <hr />
    <p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Original</th>
            <th scope="col">Crossref</th>
          </tr>
        </thead>
        <tbody>
          <% @array_of_originals.each do |bibtex_entry| %>
            <tr>
              <td>
                <button type="button" class="btn btn-success text-left bibtex_entry selected-entry bibtex_entry_id_<%= bibtex_entry.id %>" bibtex_entry_id="<%= bibtex_entry.id %>" >
                  <%= bibtex_entry.content %>
                  <div class="child_of_button" style="display: none;" id="bibtex_entry_id_<%= bibtex_entry.id %>_content">
                    <%= bibtex_entry.content %>
                  </div>
                </button>
                </td>
              <td>
                <% bibtex_entry.children.each do |child| %>
                  <% unless child.blank? || child.id.blank? %>
                    <button type="button" class="btn btn-light text-left bibtex_entry bibtex_entry_id_<%= bibtex_entry.id %>" bibtex_entry_id="<%= bibtex_entry.id %>">
                      <%= child.content %>
                      <%#= raw child.content %>
                      <%# bibtex_parse = BibTeX.parse(child.content) %>
                      <%# bibtex_entry_cp = cp.import bibtex_parse.to_citeproc %>
                      <%#= bibtex_entry_cp.encoding %>
                      <%#= raw (bibtex_entry_cp.render :bibliography, id: bibtex_parse.first.id).first unless bibtex_parse.blank? %>
                      <div class="child_of_button" style="display: none;" id="bibtex_entry_id_<%= bibtex_entry.id %>_content">
                        <%= child.content %>
                      </div>
                    </button>
                    <hr />
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </p>
  <% elsif @format_type == "bibtex" %>
  <hr />
  <p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Original</th>
          <th scope="col">Crossref</th>
        </tr>
      </thead>
      <tbody>
        <% @array_of_originals.each do |bibtex_entry| %>
          <tr>
            <td>
              <button type="button" class="btn btn-success text-left bibtex_entry selected-entry bibtex_entry_id_<%= bibtex_entry.id %>" bibtex_entry_id="<%= bibtex_entry.id %>" >
                <%#= bibtex_entry.content %>
                <% bibtex_parse = BibTeX.parse(bibtex_entry.content) %>
                <% bibtex_entry_cp = cp.import bibtex_parse.to_citeproc %>
                <%= (bibtex_entry_cp.render :bibliography, id: bibtex_parse.first.id).first %>
                <div class="child_of_button" style="display: none;" id="bibtex_entry_id_<%= bibtex_entry.id %>_content">
                  <%= bibtex_entry.content %>
                </div>
              </button>
              </td>
            <td>
              <% bibtex_entry.children.each do |child| %>
                <% unless child.blank? || child.id.blank? %>
                  <button type="button" class="btn btn-light text-left bibtex_entry bibtex_entry_id_<%= bibtex_entry.id %>" bibtex_entry_id="<%= bibtex_entry.id %>">
                    <%#= raw child.content %>
                    <%# bibtex_parse = BibTeX.parse(child.content) %>
                    <%# bibtex_entry_cp = cp.import bibtex_parse.to_citeproc %>
                    <%#= bibtex_entry_cp.encoding %>
                    <%#= raw (bibtex_entry_cp.render :bibliography, id: bibtex_parse.first.id).first unless bibtex_parse.blank? %>
                    <div class="child_of_button" style="display: none;" id="bibtex_entry_id_<%= bibtex_entry.id %>_content">
                      <%= child.content %>
                    </div>
                  </button>
                  <hr />
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
  <% end %>

  <p>
      <textarea name="chosen_entries" id="chosen_entries" rows="30" style="width:100%;"></textarea>
  </p>

</div>

<script>

  $( document ).ready(function() {

    var Cite = require('citation-js')

    // Set variables
    var cite = new Cite()
    var opt = {
      format: 'string'
    }

    // Make shorter ref to function
    var parseAsync = Cite.parse.input.async.chain

    // Make a factory for callback
    var callbackFactory = function (out) {
      return function (data) {
        out.html(cite.set(data).get(opt))
      }
    }

     var $json_in = $('#json-in')
     var jsonCb = callbackFactory($('#json-out'))

     function update() {
       // Get user options
       opt.type = "html"
       opt.style = "citation-apa"
       opt.lang = "en-us"

       // Set data (explicit parsing only recommended for async) and set html element to get output
       parseAsync($json_in.text()).then(jsonCb)
       //parseAsync($bibx_in.text()).then(bibxCb)
       //parseAsync($wiki_in.text()).then(wikiCb)
       //parseAsync($bibj_in.text()).then(bibjCb)
     }

     update();


    fill_chosen_entries();

    $('#chosen_entries').val(all_bibtex);


    $( ".bibtex_entry" ).click(function() {
      bibtex_entry_id = $(this).attr("bibtex_entry_id");
      class_for_bibtex_entry_id = ".bibtex_entry_id_" + bibtex_entry_id


      //console.log($(this).text());
      //console.log($(this).attr("bibtex_entry_id"));

      //$(this).removeClass( 'btn-light').addClass('btn-success').addClass( 'selected-entry');

      if ($(this).hasClass('selected-entry')) {
        $( class_for_bibtex_entry_id ).removeClass( 'btn-light').removeClass( 'btn-success').removeClass( 'selected-entry').addClass( 'btn-light');
      	$(this).removeClass( 'selected-entry').removeClass('btn-success').addClass( 'btn-light');
      } else {
        $( class_for_bibtex_entry_id ).removeClass( 'btn-light').removeClass( 'btn-success').removeClass( 'selected-entry').addClass( 'btn-light');
        $(this).removeClass( 'btn-light').addClass('btn-success').addClass( 'selected-entry');
      }

      fill_chosen_entries();

    });

    function fill_chosen_entries() {
      all_bibtex = ""
      $( ".selected-entry" ).each(function( index ) {
        all_bibtex = all_bibtex + "\n \n" + $.trim($( this ).children(".child_of_button").text());
      });

      $('#chosen_entries').val(all_bibtex);
    }




  });
</script>
