<div class="card my-1 bordered <%= dom_id(article) %>">
  <div class="card-body">
    <h3 class="card-title"><%= article.title %></h3>
    <div class="text-justify">
      <% unless article.keywords.blank? %>
        <p class="">
          <small class="text-muted"><strong>Keywords: </strong><%= article.keywords %></small>
        </p>
      <% end %>
      <p>
        <button type="button" class="btn btn-info btn-sm">Open Access</button>
      </p>
      <% unless article.author.blank? %>
        <p class="text-muted">
        <%= article.author %>
        </p>
      <% end %>

      <p>
        <strong>First Published: </strong> <%= l(article.created_at, format: :long) %>
      </p>
      <p class="">
        <%= link_to "HTML", article_path(article) %> | <%= link_to "PDF", article_pdf_path(article) %> | <%= link_to "Plain Text", article_plain_path(article) %> | <%= link_to "Markdown", article_markdown_path(article) %> 
      </p>
    </div>
  </div>
</div>
