<div class="container-fluid">

<!-- Title -->
<h1 class="mt-4 text-center"><%= article.title %></h1>
<hr>

  <!-- Post Content -->
  <% unless article.content.blank? %>
    <%= raw Sanitize.fragment(article.content, Sanitize::Config::RELAXED) %>
  <% end %>

  <% unless article.latex.blank? %>
    <div class="row">
        <div class="col-4 border rounded">
          <%= simple_format(article.latex) %>
        </div>
        <div class="col-8">
          <div class="embed-responsive" style="padding-bottom: 141.42%;">
              <iframe  class="embed-responsive-item" src="https://latexonline.cc/compile?url=<%= article_latex_url %>"></iframe>
          </div>
        </div>
    </div>

    <% else %>

    <div class="row">
        <div class="col-4 border rounded">
          <%= simple_format(article.latex) %>
        </div>
        <div class="col-8">
          <div class="embed-responsive" style="padding-bottom: 141.42%;">
              <iframe  class="embed-responsive-item" src="latexonline.cc/compile?text=<%= PandocRuby.new(article.content).to_latex %>"></iframe>
          </div>
        </div>
    </div>

  <% end %>

 <%#= link_to "print", article_path(article,:format => :pdf) %>
 <%#= link_to "Print External", "https://latexonline.cc/compile?url=#{article_latex_url}"  %>

<hr>
</div>
