<!-- Title -->
<h1 class="mt-4 text-center"><%= article.title %></h1>
<hr>

  <!-- Post Content -->
  <div>
    <%= sanitize article.content, attributes: %w(href target) %>
    <hr />
    <%= sanitize(article.content, tags: %w(table tr td)) %>
    <hr />
    <%= sanitize(article.content, tags: %w(table tr td), attributes: %w()) %>
    <hr />
    <%= raw Sanitize.fragment(article.content, Sanitize::Config::RELAXED) %>
 </div>

<hr>
