<!-- Title -->
<h1 class="mt-4 text-center"><%= article.title %></h1>
<hr>

  <!-- Post Content -->
  <div>
    <%= raw Sanitize.fragment(article.content, Sanitize::Config::RELAXED) %>
    <hr />
    <%= simple_format(article.latex_code) %>
 </div>
 <%= link_to "print", article_path(article,:format => :pdf) %>
 <%= link_to "Print External", "https://latexonline.cc/compile?url=#{article_latex_code_url}"  %>

<hr>
