<div class="container">
  <h1>Bibtex</h1>
  <hr />
  <p>
    Compare Author's Bibtex with Crossref.
    </p>
    <p>
      This may take a while.
    </p>
  <p>
    If something doesn't work or if you need something special, please contact me: <%= mail_to "sandro.raess@philosophie.ch", "sandro.raess@philosophie.ch" %>
  </p>
  <hr />
  <p>
    <%= form_tag bibtex_compare_author_bibtex_with_crossref_create_path, multipart: true do %>
    <p>
        <strong>Upload a Bibtex or JSON File</strong><br />
        <%= file_field_tag :file, class: "btn btn-secondary" %>
    </p>
    <p>
      <strong>Or copy & paste Bibtex, JSON or Text into the field</strong><br />
      <%= text_area_tag :text, nil, :rows => 15, style: 'width:100%;' %>
    </p>

      <%= select_tag :format, options_for_select(["bibtex", "text", "json"], "bibtex") %>
      <br />
      <br />
      <strong>e-Mail</strong><br />
      <%= text_field_tag :email %>
      <br />
      <br />
      <%#= submit_tag "Submit", class: "btn btn-primary", id: "actual_bibtex_enter_button" %>
      <%= button_tag "Submit", class: "btn btn-primary", id: "actual_bibtex_enter_button" %>
    <% end %>
  </p>
  <p>
    <strong>Examples</strong>
    <br />
    <strong>Bibtex</strong><br />
@book{Anderson.1975,
	year = {1975},
	title = {Entailment: The Logic of Relevance and Neccessity, Vol. I},
	publisher = {Princeton University Press},
	key = {Anderson.1975},
	author = {Anderson, Alan R. and Belnap, Nuel D.}
}

<br /><br />
@article{Baumgartner.2008,
	year = {2008},
	journal = {Synthese},
	pages = {93--115},
	title = {Adequate Formalization},
	author = {Michael Baumgartner and Timm Lampert},
	number = {1},
	key = {Baumgartner.2008},
	volume = {164}
}

  </p>
  <p>
    <strong>Text</strong>
    <br />
    1. Boucher RC (2004) New concepts of the pathogenesis of cystic fibrosis lung disease. Eur Resp J 23: 146–158.
    <br />
    2. Knowles MR, Boucher RC (2002) Mucus clearance as a primary innate defense mechanism for mammalian airways. J Clin Investig 109: 571–577.
  </p>
  <p>
    <strong>json</strong>

  </p>
</div>

<script>

  $( document ).ready(function() {

    $( ".bibtex_entry" ).click(function() {
      bibtex_entry_id = $(this).attr("bibtex_entry_id");
      class_for_bibtex_entry_id = ".bibtex_entry_id_" + bibtex_entry_id


      //console.log($(this).text());
      //console.log($(this).attr("bibtex_entry_id"));

      $( class_for_bibtex_entry_id ).removeClass( 'btn-light').removeClass( 'btn-success').removeClass( 'selected-entry').addClass( 'btn-light');

      $(this).removeClass( 'btn-light').addClass('btn-success').addClass( 'selected-entry');

      all_bibtex = ""
      $( ".selected-entry" ).each(function( index ) {
        all_bibtex = all_bibtex + "\n \n" + $.trim($( this ).text());
      });

      $('#chosen_entries').val(all_bibtex);


    });




  });
</script>
