<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @requested_reviewer.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @requested_reviewer.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @requested_reviewer.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @requested_reviewer.status %>
</p>

<%= link_to 'Edit', edit_requested_reviewer_path(@requested_reviewer) %> |
<%= link_to 'Back', requested_reviewers_path %>
