<p id="notice"><%= notice %></p>

<h1>Bibtex Files</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bibtex_files.each do |bibtex_file| %>
      <tr>
        <td><%= bibtex_file.content %></td>
        <td><%= link_to 'Show', bibtex_file %></td>
        <td><%= link_to 'Edit', edit_bibtex_file_path(bibtex_file) %></td>
        <td><%= link_to 'Destroy', bibtex_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bibtex File', new_bibtex_file_path %>
