<%= tinymce_assets %>
<%= tinymce %>

<%= simple_form_for(@blog_post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: "" %>
    <%= f.input :description, placeholder: "Very short summary of what you want to say." %>
    <%#= f.input :keywords %>
    <%#= f.input :hiddensearch_field %>
    <% category = @blog_post.category %>
    <% category = local_assigns[:category] if local_assigns[:category] %>
    <%#= category %>
    <%= f.hidden_field :category, value: category %>
    <%= f.text_area :content, :class => "tinymce", :rows => 15 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
