<p id="notice"><%= notice %></p>

<h1>Web Site Contents</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @web_site_contents.each do |web_site_content| %>
      <tr>
        <td><%= raw web_site_content.content %></td>
        <td><%= web_site_content.identifier %></td>
        <td><%= link_to 'Show', web_site_content %></td>
        <td><%= link_to 'Edit', edit_web_site_content_path(web_site_content) %></td>
        <td><%= link_to 'Destroy', web_site_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web Site Content', new_web_site_content_path %>
