<%= render "layouts/dialectica_navigation" %>

<p id="notice"><%= notice %></p>

<div class="container">
<h1>histories</h1>

<%= render "histories/searchable_list", histories: @histories %>

<hr>

<% if false %>
  <div class="" style="">
    <% @histories.each do |history| %>
      <p>
        <% unless history.submission.blank? %>
          #<%= link_to history.submission.dialectica_id_public, submission_path(history.submission) %> - "<%= link_to history.submission.title, submission_path(history.submission) %>"
        <% end %>
      </p>
      <%= render 'histories/show', history: history, collapse_status: "" %>
      <hr />
    <% end %>
  </div>
</div>
<% end %>
<%= render "layouts/footer" %>
