<%= tinymce_assets %>
<%= tinymce %>
<%= simple_form_for :send_to_external_referee, url: submissions_send_to_external_referee_path(submission), remote: true do |f| %>
<% if false %>
<p>
  <%= f.input :mail, label: "email address", placeholder: 'example: user@domain.com' %>
</p>
<p>
  <%= f.input :firstname, label: "first name", placeholder: 'Lara' %>
</p>
<p>
  <%= f.input :lastname, label: "last name", placeholder: 'Wilson' %>
</p>
<% end %>
<p>
  <%#= f.input :external_referee, label: "select external referee", as: :select, collection: ExternalReferee.all.order(:lastname), label: "external referee", required: false, label_method: :name_and_email, value_method: :id, input_html: {class: 'chosen-select', :data => {:placeholder => "select external referee"}, multiple: false} %>
</p>

<%=f.hidden_field :external_referee, :value => external_referee.id %>

<p>
  to: <br /><%= external_referee.email if external_referee && external_referee.email %>
</p>
<p>
  bcc: <br />dialectica@philosophie.ch
</p>
<p>
  <%= f.input :subject, label: "subject", required: false, input_html: {value: "dialectica refereeing - \"#{submission.title}\""} %>
  </p>
  <p>
    <% store_rails_blob_url = submission.file.attached? ? rails_blob_url(submission.file) : nil %>
    <%= f.text_area :body, class: "tinymce", value: Submission.send_to_external_referee_text(submission, store_rails_blob_url, current_user, external_referee), rows: 25  %>
    <%#= f.input :body, label: "body", as: :text, input_html: {value: Submission.send_to_external_referee_text(submission, store_rails_blob_url, current_user), rows: 25} %>
  </p>
  <br />
  <div class="modal-footer">
    <!--
    <button type="button" class="btn btn-secondary" data-dismiss="modal">dismiss</button>
    -->
    <%= f.submit "open email program (this opens up your mail program)", class: "btn btn-primary border my-2" %>

    <%= f.submit "send directly", name: 'send_directly', class: "btn btn-primary border my-2", data: {cy: "submit_send_to_external_referee_button", confirm: 'Warning: This method is not reliable. Mail may end up in spam-folders or may not arrive at all. Proceed anyway?'} %>

  </div>
<% end %>
