<!-- Page Content -->
   <div class="row">

     <!-- Post Content Column -->
     <div class="col-lg-8 my-4">

       <% if is_user_admin?(current_user) %>
        <%= link_to "Eintrag bearbeiten", edit_page_path(page), class: "btn btn-primary my-2" %>
       <% end %>

       <!-- Preview Image -->
       <% if page.cover.attached? %>
          <%= image_tag page.cover, class: "img-fluid  rounded" %>
         <hr>
       <% end %>

       <!-- Title -->
       <h1 class="mt-4 text-center"><%= page.title %></h1>
       <hr>

       <!-- Description and Keywords -->
       <% unless page.description.blank? %>
         <p class="text-center text-justify mx-2">
            <%= page.description %>
         </p>
         <% unless page.keywords.blank? %>
           <p class="text-center text-justify mx-2">
             <small class="text-muted"><strong>Keywords: </strong><%= page.keywords %></small>
           </p>
         <% end %>
         <hr>
       <% end %>


       <!-- Post Content -->
       <div class="text-justify">
             <%= raw Sanitize.fragment(page.content, Sanitize::Config::RELAXED) %>
        </div>

       <hr>

     </div>

     <!-- Sidebar Widgets Column -->
     <div class="col-md-4">
         <% if user_signed_in? %>
          <div class="text-center">
           <%= link_to 'New Entry', new_blog_post_path(category: page.title), class: "btn btn-primary my-2" %>
          </div>
         <% end %>

       <%= render partial: "blog_posts/card", collection: BlogPost.where(category: page.title).order(:created_at).last(3), as: :blog_post %>
     </div>

   </div>
   <!-- /.row -->
