<!-- Page Content -->
 <div class="container">

   <div class="row">

     <!-- Post Content Column -->
     <div class="col-lg-8 my-4">

       <% if is_user_admin?(current_user) %>
        <%= link_to "Eintrag bearbeiten", edit_page_path(page), class: "btn btn-primary my-2" %>
       <% end %>

       <!-- Preview Image -->
       <% if page.cover.attached? %>
          <%= image_tag page.cover, class: "img-fluid  rounded" %>
         <hr>
       <% end %>

       <!-- Title -->
       <h1 class="mt-4 text-center"><%= page.title %></h1>
       <hr>

       <!-- Description and Keywords -->
       <% unless page.description.blank? %>
         <p class="text-center text-justify mx-2">
            <%= page.description %>
         </p>
         <% unless page.keywords.blank? %>
           <p class="text-center text-justify mx-2">
             <small class="text-muted"><strong>Keywords: </strong><%= page.keywords %></small>
           </p>
         <% end %>
         <hr>
       <% end %>


       <!-- Post Content -->
       <div class="text-justify">
             <%= raw Sanitize.fragment(page.content, Sanitize::Config::RELAXED) %>
        </div>

       <hr>

     </div>

     <!-- Sidebar Widgets Column -->
     <div class="col-md-4">

       <!-- Search Widget -->
       <div class="card my-4">
         <h5 class="card-header">Search</h5>
         <div class="card-body">
           <div class="input-group">
             <input type="text" class="form-control" placeholder="Search for...">
             <span class="input-group-btn">
               <button class="btn btn-secondary" type="button">Go!</button>
             </span>
           </div>
         </div>
       </div>

       <!-- Categories Widget -->
       <div class="card my-4">
         <h5 class="card-header">Categories</h5>
         <div class="card-body">
           <div class="row">
             <div class="col-lg-6">
               <ul class="list-unstyled mb-0">
                 <li>
                   <a href="#">Lorem</a>
                 </li>
                 <li>
                   <a href="#">Ipsum</a>
                 </li>
                 <li>
                   <a href="Sed">Freebies</a>
                 </li>
               </ul>
             </div>
             <div class="col-lg-6">
               <ul class="list-unstyled mb-0">
                 <li>
                   <a href="#">Diam</a>
                 </li>
                 <li>
                   <a href="#">Erat</a>
                 </li>
                 <li>
                   <a href="#">Labore</a>
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </div>

       <!-- Side Widget -->
       <div class="card my-4">
         <h5 class="card-header">Dialectica</h5>
         <div class="card-body">
           Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
         </div>
       </div>

     </div>

   </div>
   <!-- /.row -->

 </div>
