<%= render "layouts/dialectica_navigation" %>

<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Pages</h1>

  <div id="pages-sortable" class="list-group col">
    <% @pages.order(:sort).each do |page| %>
      <div class="list-group-item" data-id="<%= page.id %>">
        <i class="fas fa-arrows-alt handle"></i>
        &nbsp;&nbsp;
        <%= page.title %> | <%= page.status %> | <%= link_to 'show', page %> | <%= link_to 'edit', edit_page_path(page) %> | <%= link_to 'destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>

  <button id="pages-sortable-update-order" type="button" class="btn btn-primary my-2">update order</button>

  <script>

    $( document ).ready(function() {

      var pages_sortable_id = document.getElementById('pages-sortable');
      var pages_sortable = new Sortable(pages_sortable_id, {
          handle: '.handle', // handle's class
          animation: 150
      });

      $( "#pages-sortable-update-order" ).click(function() {
          $.ajax({
            type: "POST",
            url: "/pages/update_order",
            data: {order: pages_sortable.toArray()},
            context: document.body
          }).done(function(response) {
            location.reload();
          });
        });



    });

  </script>


  <br>

  <%= link_to 'new page', new_page_path %>

</div>

<%= render "layouts/footer" %>
