<% if current_user.nil? %>
<p>
    <strong>  <%= link_to('Please log in', new_user_session_path) %></strong>
</p>
<% end %>
<% unless current_user.nil? %>
<div class="row">
    <div class="col-12">
      <%#= mail_to "", "send to external referee", subject: "Review for Dialectica", body: "Dear Reviewer \n\n There is a new submission on Dialectica called \"#{submission.title}\". \n\n Please take a look, as it is in your area of expertise! \n\n View it here: #{submission_url(submission)} \n\n Kind regards \n\n #{current_user.name unless current_user.blank?}", class: "btn btn-light border my-2" %>
      <% if is_user_reviewer?(current_user) %>
        <%  if current_user.submissions.where(id: submission.id).empty?  %>
        <% if !submission.users.empty? %>
          <div class="d-inline-block">
            <strong>internal review</strong><br />
            <% submission.users.each do |reviewer| %>
              <%= reviewer.name %><br />
            <% end %>
            </div>
        <% end %>

          <%= link_to "fish this", submissions_add_user_to_submission_path(current_user.id, submission.id), method: :post, class: "btn btn-light border my-2" %>
          <%#= link_to "I know someone who could review it", submissions_add_user_to_submission_path(current_user.id, submission.id), method: :post, class: "btn btn-success my-2" %>
          <button type="button" class="btn btn-light border" data-toggle="modal" data-target="#suggestionModal">
            suggest to internal reviewer
          </button>
          <button type="button" class="btn btn-light border" data-toggle="modal" data-target="#uploadfileModal">
            upload file
          </button>
          <button type="button" class="btn btn-light border" data-toggle="modal" data-target="#addCommentModal">
            add comment
          </button>
        <% else %>
        <% if !submission.users.empty? %>
          <div class="d-inline-block">
            <strong>internal review</strong><br />
            <% submission.users.each do |reviewer| %>
              <%= reviewer.name %><br />
            <% end %>
            </div>
        <% end %>
        <%= link_to "leave it", submissions_remove_user_from_submission_path(current_user.id, submission.id), method: :post, class: "btn btn-light border my-2" %>
        <button type="button" class="btn btn-light border" data-toggle="modal" data-target="#suggestionModal">
          suggest to internal reviewer
        </button>
        <button type="button" class="btn btn-light border" data-toggle="modal" data-target="#uploadfileModal">
          upload file
        </button>
        <button type="button" class="btn btn-light border" data-toggle="modal" data-target="#addCommentModal">
          add comment
        </button>
        <button type="button" class="btn btn-light border" data-toggle="modal" data-target="#send_to_external_refereeModal">
          send to external referee
        </button>

          <%#= link_to "suggest to another internal", upload_file_to_submission_path(submission.id), class: "btn btn-light border my-2" %>
          <%#= link_to "upload file", upload_file_to_submission_path(submission.id), class: "btn btn-light border my-2" %>
          <%#= submission.proposed.to_s == "false" %>
          <% if submission.proposed.to_s == "false" %>
            <%= link_to "propose", propose_submission_path(submission.id, submission.id), method: :post, class: "btn btn-light border my-2" %>
          <% else %>

          <%= link_to "proposed", propose_submission_path(submission.id, submission.id), method: :post, class: "btn btn-light border my-2 disabled" %>
            <%#= link_to "Withdraw proposal of publication", withdraw_proposal_of_submission_path(submission.id, submission.id), method: :post, class: "btn bg-color-light-red btn-block my-2" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>

<%#= link_to "Suggest to another user", submissions_create_suggestion_to_user_path(current_user.id, submission.id), method: :post, class: "btn btn-success btn-block my-2" %>




  <% if is_user_editor?(current_user) && submission.dead == "false" %>
    <hr />
    <%= link_to "Accept", accept_submission_path(submission.id), method: :post, class: "btn btn-light border my-2" %>
    <%= link_to "Reject", reject_submission_path(submission.id), method: :post, class: "btn btn-light border my-2" %>
    <%#= link_to "Resurrect", reject_submission_path(submission.id), method: :post, class: "btn btn-light border my-2" %>
  <% end %>
<%#= link_to "I know someone who could review it", submissions_add_user_to_submission_path(current_user.id, submission.id), method: :post, class: "btn btn-success btn-block my-2" %>
<% end %>

<!-- Suggestion Modal -->
<div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="suggestionModalLabel">suggest to internal reviewer </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag submissions_create_suggestion_to_user_path do %>
          <%#= file_field_tag :file, class: "btn btn-secondary" %>
          <%= hidden_field_tag :submission_id, submission.id %>
          <%#= submit_tag "Submit", class: "btn btn-primary", id: "actual_bibtex_enter_button" %>
          <strong>to whom: </strong> <%= select_tag :user_id, options_for_select(User.all.collect{ |u| [u.name, u.id] }) %>
          <br />
          <br />
          <%= button_tag "suggest", class: "btn btn-light border" %>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- UploadModal -->
<div class="modal fade" id="uploadfileModal" tabindex="-1" aria-labelledby="uploadfileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadfileModalLabel">Suggestion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag upload_file_to_submission_path(submission), multipart: true do %>
          <%#= file_field_tag :file, class: "btn btn-secondary" %>
          <%#= hidden_field_tag :submission_id, submission.id %>
          <%#= submit_tag "Submit", class: "btn btn-primary", id: "actual_bibtex_enter_button" %>
          <%= file_field_tag :attachments %>
          <br />
          <br />
          <%= button_tag "upload file", class: "btn btn-light border" %>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- CommentModal -->
<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCommentModalLabel">Suggestion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= tinymce_assets %>
        <%= tinymce %>
        <%= simple_form_for :comment, url: add_comment_to_submission_path(submission) do |f| %>
          <%#= f.input :comment, as: :text %>
          <%= f.text_area :comment, :class => "tinymce", :rows => 40, :cols => 120 %>
          <%= f.submit "add comment", class: "btn btn-light border my-2" %>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- send_to_external_refereeModal -->
<div class="modal fade" id="send_to_external_refereeModal" tabindex="-1" aria-labelledby="send_to_external_refereeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="send_to_external_refereeModalLabel">send this out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <% if !submission.external_referee_submissions.empty? %>
            <div class="border rounded p-1">
            <strong>this submission has already been sent to <br /></strong>
              <% submission.external_referee_submissions.each do |ers| %>
                <%= ers.external_referee.name_and_email %>
                 | <%= ers.status %>
                <br />
              <% end %>
              </div>
              <hr />
          <% end %>
        </p>
        <%= simple_form_for :send_to_external_referee, url: submissions_send_to_external_referee_path(submission), remote: true do |f| %>
        <% if false %>
        <p>
          <%= f.input :mail, label: "email address", placeholder: 'example: user@domain.com' %>
        </p>
        <p>
          <%= f.input :firstname, label: "first name", placeholder: 'Lara' %>
        </p>
        <p>
          <%= f.input :lastname, label: "last name", placeholder: 'Wilson' %>
        </p>
        <% end %>
        <p>
          <%= f.input :external_referee, label: "external referee", as: :select, collection: ExternalReferee.all, label: "external referee", required: false, label_method: :name_and_email, value_method: :id, input_html: {class: 'chosen-select', :data => {:placeholder => "select external referee"}, multiple: false} %>
        </p>
        <p>
          external referee not in the database yet? <br />
          <%= link_to "add an external referee here", new_external_referee_path %> and come back
        </p>
        <p>
          bcc: <br />dialectica@philosophie.ch
        </p>
        <p>
          <%= f.input :subject, label: "subject", input_html: {value: "dialectica refereeing - \"#{submission.title}\""} %>
          </p>
          <p>
            <%= f.input :body, label: "body", as: :text, input_html: {value: Submission.send_to_external_referee_text(submission, rails_blob_url(submission.file), current_user), rows: 25} %>
          </p>
          <%= f.submit "send via private email program (this opens up your mail program)", class: "btn btn-light border my-2" %>
          <br />
          <%= f.submit "send directly", name: 'send_directly', class: "btn btn-light border my-2" %>
        <% end %>
        <%#= mail_to "", "send to external referee", subject: "Review for Dialectica", body: "Dear Reviewer \n\n There is a new submission on Dialectica called \"#{submission.title}\". \n\n Please take a look, as it is in your area of expertise! \n\n View it here: #{submission_url(submission)} \n\n Kind regards \n\n #{current_user.name unless current_user.blank?}", class: "btn btn-light border my-2" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">dismiss</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
      $('.chosen-select').chosen({
        no_results_text: 'No Results',
        inherit_select_classes: false,
        search_contains: true,
        width: '100%'
      });

    });
</script>
