<% random_id = SecureRandom.random_number(10000000) %>
<div id="submission-<%= submission.id %> submission-<%= submission.id %>-random-id-<%= random_id %>" class="card h-100 mb-3 bg-<%= submission.submission_urgency %> <%= submission.frame_status_color %>" style="">
  <div class="card-body">
    <h5 class="card-title"><%= submission.title %></h5>
    <hr class="bg-light" />
    <% if !current_user.blank? && !SuggestionSubmission.where(user_id: current_user.id).where(submission_id: submission.id).empty? %>
      <h5><span class="badge badge-pill badge-info text-white">Suggested to you</span></h5>
    <% end %>
    <p class="card-text">
      <strong><%= submission.created_at.strftime("%d.%m.%Y") %></strong><br />

      <% if submission.file.attached? %>
        <% if submission.file.previewable? %>
          <%= link_to(image_tag(submission.file.preview(resize: "200x200>")),  rails_blob_path(submission.file, disposition: "attachment"))
          %>
        <% elsif submission.file.variable? %>
          <%= link_to(image_tag(submission.file.variant(resize: "200x200")), rails_blob_path(submission.file, disposition: "attachment"))%>
        <% else %>
          <%= link_to "Download", rails_blob_path(submission.file, disposition: "attachment"), class: "text-white" %>
        <% end %>
      <% end %>
    </p>
      <button type="button" class="btn btn-light pool-select-button" value="<%=submission.id%>">Select</button>
    <%#= render 'submissions/panel', submission: submission, random_id: SecureRandom.random_number(10000000) %>
  </div>
</div>
