<% random_id = SecureRandom.random_number(10000000) %>
<div id="submission-<%= submission.id %> submission-<%= submission.id %>-random-id-<%= random_id %>" class="card h-100 mb-3 bg-<%= submission.submission_urgency %> <%= submission.frame_status_color %>" style="">
  <div class="card-body">
    <h5 class="card-title"><%= submission.title %></h5>
    <hr class="bg-light" />
    <% if !current_user.blank? && !SuggestionSubmission.where(user_id: current_user.id).where(submission_id: submission.id).empty? %>
      <h5><span class="badge badge-pill badge-info text-white">Suggested to you</span></h5>
    <% end %>
    <% if submission.proposed == "true" %>
      <h5><span class="badge badge-pill badge-success text-white">Proposed</span></h5>
    <% end %>
    <p class="card-text">
      <strong><%= submission.created_at.strftime("%d.%m.%Y") %></strong><br />
    </p>
      <button type="button" class="btn btn-light pool-select-button" value="<%=submission.id%>">Select</button>
    <%#= render 'submissions/panel', submission: submission, random_id: SecureRandom.random_number(10000000) %>
  </div>
</div>
