<%= tinymce_assets %>
<%= tinymce %>

<%= simple_form_for(@submission) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%#= f.input :area, collection: Submission.areas.map {|p| [t("#{p}"), p]} %>
    <%#= f.input :email %>
    <div class="row">
        <div class="col-6">
          <%#= f.input :firstname %>
        </div>
        <div class="col-6">
          <%#= f.input :lastname %>
        </div>
    </div>
    <p>
      <strong>Upload File</strong><br />
      <%= f.file_field :file %>
    </p>
    <p>
      <strong>History</strong><br />
        <%= f.text_area :history, :class => "tinymce", :rows => 40, :cols => 120 %>
    </p>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary my-2" %>
  </div>
<% end %>
