<%= tinymce_assets %>
<%= tinymce %>

<%= simple_form_for(@submission) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, label: "title" %>
    <%#= f.input :area, collection: Submission.areas.map {|p| [t("#{p}"), p]} %>
    <%#= f.input :email %>
    <div class="row">
        <div class="col-6">
          <%= f.input :firstname, label: "first name" %>
        </div>
        <div class="col-6">
          <%= f.input :lastname, label: "last name" %>
        </div>
    </div>
    <p>
      country*
      <br />
          <%= f.country_select :country %>
    </p>


    <%= f.input :gender, label: "gender**", collection: Submission.gender_options.map {|p| [t("#{p}"), p]} %>

    <%= f.input :other_authors, label: "other authors" %>
    <p>
      <strong>upload file</strong><br />
      <%= f.file_field :file %>
    </p>
    <% if true %>
    <p>
      <strong>History</strong><br />
        <%= f.text_area :history, :class => "tinymce", :rows => 40, :cols => 120 %>
    </p>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary my-2" %>
  </div>

  <hr />
  <p>
    * of primary institutional affiliation (otherwise of residence), for statistical purposes only
    <br />
    ** for statistical purposes only
  </p>
<% end %>
