<% random_id = SecureRandom.random_number(10000000) %>
<p class="card-text">
  <strong>Submission-Date: </strong><%= submission.created_at.strftime("%d/%m/%Y") %>
</p>
<p class="card-text">
  <strong>Status: </strong><%= submission.status %>
</p>
<p>
  <% if submission.file.attached? %>
    <% if submission.file.previewable? %>
      <%= link_to(image_tag(submission.file.preview(resize: "200x200>")),  rails_blob_path(submission.file, disposition: "attachment"))
      %>
    <% elsif submission.file.variable? %>
      <%= link_to(image_tag(submission.file.variant(resize: "200x200")), rails_blob_path(submission.file, disposition: "attachment"))%>
    <% else %>
      <%= link_to "Download", rails_blob_path(submission.file, disposition: "attachment"), class: "text-white" %>
    <% end %>
  <% end %>
</p>
<hr />
<ul class="nav nav-pills mb-3" id="pills-tab-submission-<%= submission.id %>-random-id-<%= random_id %>" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-action-tab" data-toggle="pill" href="#pills-action-<%= submission.id %>-random-id-<%= random_id %>" role="tab" aria-controls="pills-action" aria-selected="true">Action</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-history-tab" data-toggle="pill" href="#pills-history-<%= submission.id %>-random-id-<%= random_id %>" role="tab" aria-controls="pills-history" aria-selected="false">History</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-report-tab" data-toggle="pill" href="#pills-report-<%= submission.id %>-random-id-<%= random_id %>" role="tab" aria-controls="pills-report" aria-selected="false">Report</a>
  </li>
</ul>
<hr />
<div class="tab-content" id="pills-tab-submission-<%= submission.id %>-content">
  <div class="tab-pane fade show active" id="pills-action-<%= submission.id %>-random-id-<%= random_id %>" role="tabpanel" aria-labelledby="pills-action-tab">
    <%= render 'submissions/buttons', submission: submission %>
  </div>
  <div class="tab-pane fade" id="pills-history-<%= submission.id %>-random-id-<%= random_id %>" role="tabpanel" aria-labelledby="pills-history-tab">
    <p class="card-text">
      <strong>history: </strong>
    </p>
    <div class="border rounded p-2">
      <%= raw Sanitize.fragment(submission.history, Sanitize::Config::RELAXED) %>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-report-<%= submission.id %>-random-id-<%= random_id %>" role="tabpanel" aria-labelledby="pills-reportR-tab">
    <p class="card-text">
      <strong>Reports: </strong>
    </p>
      <% submission.reports.each do |report| %>
        <%= render "reports/show", report: report %>
      <% end %>
  </div>
</div>
