<%= link_to "Back to the Pool", submission_pool_path %>
<hr />
<%= render 'submissions/buttons', submission: submission %>
<hr />
<div class="row">
  <div class="col-8">
    <div id="pdf-field" class="embed-responsive" style="padding-bottom: 141.42%;">
        <iframe  class="embed-responsive-item" src="<%= rails_blob_path(submission.file, disposition: "inline") unless submission.nil? || !submission.file.attached? %>"></iframe>
        <% if submission.nil? || !submission.file.attached? %>
          <strong>No File uploaded</strong>
        <% end %>
    </div>
  </div>
  <div class="col-4">
    <h3>History</h3>
    <%= raw submission.history %>
    <hr />
    <h3>Attachments</h3>
    <% if submission.attachments.empty? %>
      <p>
        No Attachments yet.
        </p>
    <% end %>
      <% submission.attachments.each_with_index do |attachment, index| %>
        <%= link_to "#{attachment.filename}", rails_blob_path(attachment, disposition: "attachment") %><br />
      <% end %>
  </div>
</div>
<p>
  <%= link_to "Edit Submission", edit_submission_path(submission) %>
</p>
