<%= link_to "back to the pool", submission_pool_path %>
<hr />
<%= render 'submissions/buttons', submission: submission %>
<hr />
<div class="row">
  <div class="col-8">
    <div id="pdf-field" class="embed-responsive" style="padding-bottom: 141.42%;">
        <iframe  class="embed-responsive-item" src="<%= rails_blob_path(submission.file, disposition: "inline") unless submission.nil? || !submission.file.attached? %>"></iframe>
        <% if submission.nil? || !submission.file.attached? %>
          <strong>no file uploaded</strong>
        <% end %>
    </div>
  </div>
  <div class="col-4">
    <h3>#<%= submission.id %></h3>
    <hr />
    <h4>history</h4>
    <% if true# submission.submitted_by_user_id.blank? %>
    <div class="small">
        <div class="card card-body">
          <p>
            Author - <%= l(submission.created_at, format: :usa) %>
            <br>
            submitted: "<%= submission.title %>"
            <br />
            comments: "<%= strip_tags(submission.comment) %>"
          </p>
        </div>
    </div>
    <hr>
    <% end %>

    <%#= raw submission.history %>
    <% submission.histories.order(:created_at).reverse_order.each do |history| %>
      <%= render 'histories/show', history: history %>
      <hr />
    <% end %>
    <% if false %>
    <h3>attachments</h3>
    <% if submission.attachments.empty? %>
      <p>
        no attachments yet.
        </p>
    <% end %>
      <% submission.attachments.each_with_index do |attachment, index| %>
        <%= link_to "#{attachment.filename}", rails_blob_path(attachment, disposition: "attachment") %><br />
      <% end %>
      <hr />
      <h3>blacklisted users</h3>
      <% if submission.blocked_users.empty? %>
        <p>
          no one is blacklisted
        </p>
      <% end %>
        <% submission.blocked_users.each_with_index do |blocked_user, index| %>
          <%= blocked_user.user.name %><br />
        <% end %>
      <% end %>
      <% if false && !submission.users.empty? %>
        <h3>internal reviewer</h3>
        <% submission.users.each do |reviewer| %>
          <%= reviewer.name %><br />
        <% end %>
      <% end %>
      <% if true %>
      <br />
      <%= render 'external_referee_submissions/requested_referees_for_submission', submission: submission %>
      <% end %>
  </div>
</div>
<% if is_user_editor?(current_user) %>
  <p>
    <%= link_to "edit submission", edit_submission_path(submission) %>
  </p>
<% end %>

<%= render 'submissions/current_state', submission: submission %>
