<table class="table table-striped table-bordered">
<thead>
  <tr>
    <th>
      Submission-Date
      </th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">File</th>
    <th scope="col">Reviewers</th>
    <th>
      Action
    </th>
  </tr>
</thead>
<tbody>
  <%# Submission.where.not(id: submissions_with_reviewer.pluck(:id)).each do |submission| %>
  <% submissions.order(:created_at).each do |submission| %>
    <tr class="<%#= submission.submission_urgency %>">
      <td>
        <%= submission.created_at.strftime("%d/%m/%Y") %>
      </td>
      <td>
        <%= link_to submission.title, submission_path(submission) %>
      </td>
      <td>
        <%= "#{submission.firstname} #{submission.lastname}" %>
        <%#= submission.firstname %> <%#= submission.lastname %>
      </td>
      <td><%= link_to "Download", rails_blob_path(submission.file, disposition: "attachment") if submission.file.attached?  %></td>
      <td>
        <%= submission.users.count unless submission.users.empty? %>
        <%# submission.users.each do |user| %>
          <%#= user.email %>
        <%# end %>
        <% if submission.users.empty? %>
          <strong>No Reviewers yet</strong>
        <% end %>
      </td>
      <td>
        <% unless current_user.nil? %>
          <%  if current_user.submissions.where(id: submission.id).empty?  %>
            <%= link_to "I'll review it", submissions_add_user_to_submission_path(current_user.id, submission.id), method: :post, class: "btn btn-primary btn-block my-2" %>
            <%#= link_to "I know someone who could review it", submissions_add_user_to_submission_path(current_user.id, submission.id), method: :post, class: "btn btn-success my-2" %>
          <% else %>
            <%= link_to "I won't review it anymore", submissions_remove_user_from_submission_path(current_user.id, submission.id), method: :post, class: "btn btn-danger btn-block my-2" %>
          <% end %>
        <%= mail_to "", "I know someone who might review it", subject: "Review for Dialectica", body: "Dear Reviewer \n\n There is a new submission on Dialectica. It is called \"#{submission.title}\" and it might fall in your area of expertise. \n\n Please check it out! View it here: #{submission_url(submission)} \n\n Kind regards", class: "btn btn-success btn-block my-2" %>
        <%#= link_to "I know someone who could review it", submissions_add_user_to_submission_path(current_user.id, submission.id), method: :post, class: "btn btn-success btn-block my-2" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
