<%= render "layouts/fishpond_navigation" %>

<div class="container">
  <h1>Editing Submission</h1>

  <%= render 'form_for_edit', submission: @submission %>

  <%= link_to 'Show', @submission %> |
  <%= link_to 'Back', submissions_path %>
</div>

<%= render "layouts/footer" %>
