<div class="container">

<h1>Submissions</h1>
<p>

</p>

<hr>

<%= render 'submissions/table_for_submissions', submissions: @submissions %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Area</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.title %></td>
        <td><%= submission.area %></td>
        <td><%= submission.firstname %></td>
        <td><%= submission.lastname %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
</div>
