<!-- Page Content -->
   <div class="row dialectica">

     <!-- Post Content Column -->
     <div class="col-12 my-4">

       <!-- Preview Image -->
       <% if page.cover.attached? %>
          <%= image_tag page.cover, class: "img-fluid mt-2  rounded" %>
       <% end %>

       <% if is_user_admin?(current_user) %>
        <%= render "page_buttons", page: page %>
       <% end %>


       <!-- Title -->
       <h1 class="mt-4"><%= page.title %></h1>

       <% if false %>
         <!-- Description and Keywords -->
         <% unless page.description.blank? %>
           <p class="text-center text-justify mx-2">
              <%= page.description %>
           </p>
           <% unless page.keywords.blank? %>
             <p class="text-center text-justify mx-2">
               <small class="text-muted"><strong>Keywords: </strong><%= page.keywords %></small>
             </p>
           <% end %>
           <hr>
         <% end %>
       <% end %>


       <!-- Post Content -->
       <div class="text-justify">
             <%= raw Sanitize.fragment(page.content, Sanitize::Config::RELAXED) %>
        </div>


     </div>


   </div>
   <!-- /.row -->
