<p>
  <strong>
  Dear <%= @submission.firstname %> <%= @submission.lastname %>
  </strong>
</p>

<p>
  Thank you for submitting your paper to <i>dialectica</i>.
  It has received the number <%= @submission.dialectica_id_public %>.
</p>
<p>
We hope that it will attract the interest of some member of the Editorial Committee, that a successful case for it will be made in the light of substantial referee reports and that it will be published Open Access and find a wide readership. If your paper fails to attract the interest of any EC member, you will hear so within a month. If it does, but the process takes longer than three months, you will also be notified.
</p>

<p>
  In processing your submission, we will follow our
  <% unless Page.where(slug: "principles").empty? %>
      <%= link_to "editorial principles", page_url(Page.where(slug: "principles").first), class: "nav-link" %>
  <% else %>
   editorial principles
  <% end %>.

  By submitting your paper, you declare that the work is your own and your coauthors’, that all coauthors have been listed on the submission form and that you grant our association the right to publish your paper under a CC-licence.
</p>
<p>
  If you want to withdraw your paper, please log in here
  <%= link_to "login", "https://dialectica.philosophie.ch/users/sign_in" %>


  <% unless User.where(email: @submission.email).empty? %>
    with your
    <br>
    <br>
    username: <%= User.where(email: @submission.email).first.username %>
    <br>
    <br>
  <% end %>

  <% unless @password.blank? %>
    and your
    <br>
    <br>
    password: <%= @password %>
    <br>
    <br>
  <% end %>

</p>
<p>
  If you have second thoughts and want us to consider not the paper originally submitted, but a revision of it, please withdraw the first paper and submit the new one.
</p>
<p>
  Sharon Casu and Marco Schori, managing editors
</p>
