<% if local_assigns[:parent].blank? %>
  <% parent_id = medium.mediumable_id %>
  <% parent_class_name = medium.mediumable_type %>
<% else %>
  <% parent_id = parent.id %>
  <% parent_class_name = parent.class.name %>
<% end %>

<div class="modal-body">
<%= simple_form_for(medium, url: create_for_submission_media_path, method: :post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <p>
      Cover (max 3 mb) <br />
      <%= f.input :file, label: false %>
    </p>
    <%= f.input :comment, placeholder: "what is this file about?" %>

    <%= f.hidden_field :mediumable_id, value: parent_id %>
    <%= f.hidden_field :mediumable_type, value: parent_class_name %>

    <%#= f.input :mediumable_id %>

    <%#= f.input :mediumable_type %>

  </div>
</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
    <%= f.button :submit, "upload file", class: "btn btn-primary" %>

  </div>
  <div class="form-actions">
  </div>
<% end %>
