<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js" integrity="sha256-jl1+DOsSs9uABTKppOJ2GF8kXoc3XQzBtFFyS0i9Xoo=" crossorigin="anonymous"></script>
<%= tinymce_assets %>
<%#= tinymce %>

<div class="container-fluid">
  <h1>Pancritic-Editor</h1>

  <div class="row">
      <div class="col-5">
        <%= form_for :inputs, url: "/editor/pancritic_editor", method: :post do |form| %>
          <%#= form.text_area :text %>
          <%= form.text_area :text, id: "markdown_text_area" %>
          <br />
          <%= form.submit "Translate" %>
        <% end %>
      </div>
      <div class="col-7">
        <%= @errormessage unless @errormessage.blank? %>

        <%#= link_to "Download", rails_blob_path(@stuff.file, disposition: "inline") %>
        <div class="embed-responsive" style="padding-bottom: 141.42%;">
            <iframe  class="embed-responsive-item" src="<%= rails_blob_path(@stuff.file, disposition: "inline") unless @stuff.nil? %>"></iframe>
        </div>
        <%#= raw @result %>
        <div id="html_from_markdown_text_area" class="">
          <%#= @result %>
        </div>
      </div>

  </div>
</div>


<script>

  $( document ).ready(function() {

    var myCodeMirror1 = CodeMirror.fromTextArea(document.getElementById("markdown_text_area"), {
      theme: "default",
      mode: 'markdown',
      border: '1px solid #eee',
      setsize: '100%'
    });

    myCodeMirror1.setSize("100%", "100%");

    tinyMCE.init({
      //selector: 'textarea#markdown_text_area',
      body_class: "",
      //body_id : "markdown_tinymce_text_area",
      menubar: "false",
      plugins: ["link", "table", "code", "lists"],
      toolbar: ["styleselect | bold italic | undo redo | link table | code | numlist bullist"]
    });

    var converter = new showdown.Converter();

    $( "#button_from_markdown_to_html" ).click(function() {
      //translate();
    });

    tinymce.activeEditor.on('blur', function(e) {
        //console.log(e.focusedEditor);
        //translate();
    });

    function translate() {
      var markdown = tinyMCE.activeEditor.getContent();
      var html = converter.makeHtml(markdown);
      $("#html_from_markdown_text_area").html(html);

      var markdown2 = converter.makeMarkdown(html);
      $("#markdown_from_html").val(markdown2);
    }

  });
</script>
