<table class="table">
  <thead>
    <tr>
      <th scope="col">role</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>


        <% user.roles.each_with_index do |role, index| %>
        <tr>
          <td>
        <%= role.name %>
      </td>
      <td>
        <%= link_to "remove", remove_role_from_user_user_path(user, role_name: role.name), class: "btn btn-danger", method: :put %>
      </td>

    </tr>

    <% end %>

</tbody>
</table>

<p>
  <strong>add role to user </strong>
</p>

<%= simple_form_for(:role, method: :put, url: add_role_to_user_user_path(user)) do |f| %>
  <%= f.input :role_name, collection: Role.roles.map {|p| [p, p]} %>
  <%= f.submit 'add role', class: "btn btn-primary" %>
<% end %>
