<div class="card my-3" style="" class="my-4">
  <div class="card-body">
    <p class="card-text">
      <strong>#</strong><%= submission.dialectica_id %>
    </p>
    <h5 class="card-title"><%= submission.title %></h5>
    <% unless submission.resubmit_original_dialectica_id.blank? %>
      <h6><span class="badge badge-pill badge-info text-white">re-submission of <br><%= submission.resubmit_original_dialectica_id %> </span></h6>
    <% else %>

    <% end %>

    <p class="card-text">
      <strong>status: </strong> <%= submission.status_for_author %>
    </p>
    <hr>
    <% if submission.withdrawn == "false" %>
    <p>
      do you want to withdraw your submission?
    </p>
    <%= link_to "withdraw submission", withdraw_submission_submission_path(submission), method: :put, class: "btn btn-primary" %>
    <hr>
    <% elsif submission.withdrawn == "true" %>
    <p>
      do you want to undo the withdrawal of your submission?
    </p>
    <%= link_to "undo the withdrawal of your submission", undo_withdraw_submission_submission_path(submission), method: :put, class: "btn btn-primary" %>
    <hr>

    <% end %>

    <p>
      do you want to re-submit this submission?
    </p>

    <p>
      <strong>note:</strong> you can only re-submit if you withdraw your submission first.
    </p>

    <% if submission.withdrawn == "true" %>
      <%= link_to "re-submit this paper", resubmit_submission_submission_path(submission), class: "btn btn-primary" %>
    <% end %>


  </div>
</div>
