<p id="notice"><%= notice %></p>

<h1>Jsons</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jsons.each do |json| %>
      <tr>
        <td><%= json.content %></td>
        <td><%= link_to 'Show', json %></td>
        <td><%= link_to 'Edit', edit_json_path(json) %></td>
        <td><%= link_to 'Destroy', json, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Json', new_json_path %>
