
  <!-- Footer -->
  <footer class="footer mt-auto py-5 bg-first-color">
    <div class="container text-center">
      <p class="m-0 text-center text-white">
      <% if user_signed_in? %>
        <%= link_to 'logout', destroy_user_session_path, :method => 'delete', class: "text-white", data: { cy: "logout" } %>
         |
        <%= link_to 'edit account', edit_user_registration_path, class: "text-white" %>
         |
        logged in as <%= current_user.firstname %> <%= current_user.lastname %>
      <% else %>
        <%= link_to('login', new_user_session_path, class: "text-white") %>
        <%#= link_to " | sign up", new_user_registration_path, class:"text-white" %>
      <% end %>
      </p>

      <p class="mt-3 text-center text-white">
        webmaster: <%= mail_to "sandro.raess@philosophie.ch", "sandro.raess@philosophie.ch", subject: "dialectica - website", class: "text-white" %>
      </p>
      <p class="mt-3 text-center text-white">
        © 2002-<%= Date.today.year %> dialectica.
      </p>



    </div>
    <!-- /.container -->
  </footer>
