<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Dialectica", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "About us", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Index", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Online Content", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "How to subscribe", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "How to submit", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Advice to authors", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact us", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Links", root_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
